<form class="form">
    <div class="form__group">
        <div class="form__field">
            <label class="form__label" for="fname">First Name</label>
            <input class="form__input" type="text" id="fname" placeholder="First name" />
            <span class="form__help-text">This is helper text.</span>
        </div>
        <div class="form__field">
            <label class="form__label" for="lname">Last Name</label>
            <input class="form__input" type="text" id="lname" placeholder="Last Name" />
            <span class="form__help-text">This is helper text.</span>
        </div>
    </div>
</form>
