<button class="button">
    Primary
</button>

<button class="button secondary">
    Secondary
</button>

<button class="button success">
    Success
</button>

<button class="button info">
    Info
</button>

<button class="button warning">
    Warning
</button>

<button class="button danger">
    Danger
</button>
