<ul class="list-group">
    <li class="list-group__item list-group__item--active">List Item One</li>
    <li class="list-group__item">List Item Two</li>
    <li class="list-group__item list-group__item--disabled">List Item Three</li>
    <li class="list-group__item">List Item Four</li>
</ul>
