<div class="labelled-button labelled-button--left">
    <div class="labelled-button__label">
        Label
    </div>
    <button class="button button--icon">
        <i class="fas fa-copy"></i>
    </button>
</div>
