<div class="modal">
    <div class="modal__header">
        Modal Header
        <span class="modal__close" onclick="(new Modal(this)).dismiss()"><i class="fas fa-times"></i></span>
    </div>
    <div class="modal__contents">
        This is the contents of the modal. Add any information here.

        <div class="modal__options">
            <button class="button">Go Somewhere</button>
            <button class="button secondary">Go Somewhere Else</button>
        </div>
    </div>
</div>
