<table class="table table--striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Joe</td>
        <td>Bloggs</td>
        <td>25</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Smith</td>
        <td>32</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Jones</td>
        <td>46</td>
    </tr>
    <tr>
        <td>Tom</td>
        <td>Blake</td>
        <td>65</td>
    </tr>
    <tr>
        <td>Tobias</td>
        <td>Scott</td>
        <td>19</td>
    </tr>
    <tr>
        <td>Debbie</td>
        <td>Parker</td>
        <td>55</td>
    </tr>
    </tbody>
</table>
