<table class="table table--stack-sm">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Joe</td>
        <td>Bloggs</td>
        <td>25</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Smith</td>
        <td>32</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Jones</td>
        <td>46</td>
    </tr>
    </tbody>
</table>
