<div class="button-group">
    <button class="button">
        Primary
    </button>
    <button class="button secondary">
        Secondary
    </button>
    <button class="button warning">
        Warning
    </button>
    <button class="button danger">
        Danger
    </button>
</div>
