<div class="grid">
    <div class="grid__cell grid__lg-6 grid__md-12">1</div>
    <div class="grid__cell grid__lg-6 grid__md-12">2</div>

    <div class="grid__cell grid__lg-4">3</div>
    <div class="grid__cell grid__lg-4">4</div>
    <div class="grid__cell grid__lg-4">5</div>

    <div class="grid__cell grid__lg-8">6</div>
    <div class="grid__cell grid__lg-4">7</div>

    <div class="grid__cell grid__lg-6 grid__sm-4">8</div>
    <div class="grid__cell grid__lg-6 grid__sm-4">9</div>

    <div class="grid__cell grid__lg-12 grid__sm-4">10</div>
</div>
