<div class="grid">
    <div class="grid__cell grid__lg-6 grid__row-span-3">1</div>

    <div class="grid__cell grid__lg-6 ">2</div>

    <div class="grid__cell grid__lg-2">5</div>
    <div class="grid__cell grid__lg-2">6</div>
    <div class="grid__cell grid__lg-2">6</div>

    <div class="grid__cell grid__lg-2">7</div>
    <div class="grid__cell grid__lg-2">8</div>
    <div class="grid__cell grid__lg-2">8</div>
</div>
