<nav>
    <ul class="breadcrumb breadcrumb--uppercase">
        <li class="breadcrumb__item"><a href="#">Home</a></li>
        <li class="breadcrumb__item"><a href="#">About</a></li>
        <li class="breadcrumb__item"><a href="#">Events</a></li>
        <li class="breadcrumb__item"><a href="#">Contacts</a></li>
    </ul>
</nav>
