.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@each $name, $breakpoint in $breakpoints {
    .visible-below-#{$name} {
        visibility: hidden;
    }

    @include mobile-query(map-get($breakpoints, $name)) {
        .visible-above-#{$name} {
            visibility: hidden;
        }

        .visible-below-#{$name} {
            visibility: visible;
        }
    }
}
