<div class="widget">
    <div class="widget__title">
        Title of the widget

        <div class="button-group">
            <button class="button button--icon">
                <i class="fas fa-copy"></i>
            </button>
            <button class="button button--icon">
                <i class="fas fa-copy"></i>
            </button>
            <button class="button button--icon">
                <i class="fas fa-copy"></i>
            </button>
        </div>
    </div>
    <div class="widget__content">
        Contents of the widget.
    </div>
</div>
