.alert {
    background: $primary;
    border-radius: $default-border-radius;
    color: $white;
    font-size: $alert-font-size;
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
    margin: .25rem;
    width: fit-content;

    &.alert--full-width {
        width: 100% !important;
    }

    &.alert--dismiss {
        display: none;
    }

    .alert__icon {
        background: shade($primary, 10%);
        border-radius: $default-border-radius 0 0 $default-border-radius;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0 1rem 0 -1rem;
        text-align: center;
        width: 40px;
    }

    @each $name, $color in $colors {
        &.#{$name} {
            .alert__icon {
                background: shade($color, 10%);
            }
        }
    }

    .alert__dismiss {
        cursor: pointer;
        margin-left: .5rem;

        &:hover {
            color: shade($white, 10%);
        }
    }
}
