.breadcrumb {
    list-style: none;
    padding: 0;

    &.breadcrumb--uppercase {
        .breadcrumb__item > a {
            text-transform: uppercase;
        }
    }

    .breadcrumb__item {
        display: inline-block;

        & > a {
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }

        &:not(:last-of-type)::after {
            content: "/";
            margin-left: .5rem;
        }
    }
}
