.button-group {
    .button {
        border-radius: 0 !important;
        float: left;

        &:first-of-type {
            border-radius: $default-border-radius 0 0 $default-border-radius !important;
        }

        &:last-of-type {
            border-radius: 0 $default-border-radius $default-border-radius 0 !important;
        }
    }
}
