.card {
    display: flex;
    flex-direction: column;
    width: 250px;

    .card__header {
        background: #DDD;
        border-radius: $default-border-radius $default-border-radius 0 0;
        font-size: $card-header-font-size;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        padding-left: .5rem;

        &.card__header--center {
            text-align: center;
            padding-left: 0;
        }
    }

    .card__image:first-child {
        border-radius: $default-border-radius $default-border-radius 0 0;
    }

    .card__body {
        border: 1px solid $component-border;
        border-radius: 0 0 $default-border-radius $default-border-radius;
        font-size: $card-content-font-size;
        padding: .5rem;

        .card__title {
            font-size: $card-title-font-size;
            font-weight: bold;
        }
    }
}
