.form {
    width: 100%;

    .form__group {
        display: inline-flex;
        width: 100%;

        .form__field {
            margin: 0 .5rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .form__field {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: .5rem 0;
        width: 100%;

        .form__label {
            display: block;
            margin: .5rem 0;
            min-height: 20px;

            &.form__label--bold {
                font-weight: bold;
            }
        }

        .form__help-text {
            color: #777;
            font-size: .75rem;
            margin-top: .5rem;
        }
    }

    .form__input {
        border-radius: $default-border-radius;
        border: 1px solid $component-border;
        box-sizing: border-box;
        height: 40px;
        font-size: $base-font-size;
        padding-left: .5rem;
        width: 100%;

        &::placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder {
            color: #AAA;
        }

        &:focus {
            border-color: $link !important;
            box-shadow: 0 0 5px rgba($link, .5);
            outline: none;
        }
    }

    .form__textarea {
        @extend .form__input;

        min-height: 100px;
        padding: .5rem;
    }

    .form__checkbox, .form__radio {
        cursor: pointer;
        display: block;
        margin-bottom: .75rem;
        padding-top: 3px;
        padding-left: 35px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        @each $name, $color in $colors {
            &.#{$name} {
                background: none !important;

                input:checked ~ .form__checkbox__check, input:checked ~ .form__radio__radio {
                     background-color: $color;
                 }

                input:checked:hover ~ .form__checkbox__check,  input:checked:hover ~ .form__radio__radio {
                    background-color: shade($color, 10%);
                }
            }
        }

        .form__checkbox__check {
            background-color: #E5E5E5;
            border-radius: $default-border-radius;
            height: 25px;
            left: 0;
            position: absolute;
            top: 0;
            width: 25px;

            &::after {
                border: solid $white;
                border-width: 0 3px 3px 0;
                content: "";
                display: none;
                height: 10px;
                left: 9px;
                position: absolute;
                top: 5px;
                transform: rotate(45deg);
                width: 5px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
            }
        }

        &:hover input ~ .form__checkbox__check {
            background-color: #CDCDCD;
        }

        input {
            cursor: pointer;
            height: 0;
            position: absolute;
            opacity: 0;
            width: 0;

            &:checked ~ .form__checkbox__check {
                background-color: $primary;
            }

            &:checked:hover ~ .form__checkbox__check {
                background-color: shade($primary, 10%);
            }

            &:checked ~ .form__checkbox__check::after {
                display: block;
            }
        }

        /// ----- Radio -----

        .form__radio__radio {
            background-color: #E5E5E5;
            border-radius: 50%;
            height: 25px;
            left: 0;
            position: absolute;
            top: 0;
            width: 25px;

            &::after {
                background: white;
                border-radius: 50%;
                content: "";
                display: none;
                height: 9px;
                left: 8px;
                position: absolute;
                top: 8px;
                width: 9px;
            }
        }

        &:hover input ~ .form__radio__radio {
            background-color: #CDCDCD;
        }

        input {
            &:checked ~ .form__radio__radio {
                background-color: $primary;
            }

            &:checked:hover ~ .form__radio__radio {
                background-color: shade($primary, 10%);
            }

            &:checked ~ .form__radio__radio::after {
                display: block;
            }
        }
    }
}
