.modal {
    min-width: 300px;
    width: fit-content;

    &.modal--dismiss {
        display: none;
    }

    .modal__header {
        background: #DDD;
        border-radius: $default-border-radius $default-border-radius 0 0;
        box-sizing: border-box;
        font-size: $modal-header-font-size;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0 .5rem;
        width: 100%;

        &.modal__header--left-align {
            text-align: left;
        }


        .modal__close {
            color: tint($danger, 20%);
            cursor: pointer;
            font-size: 1.5rem;
            float: right;

            &:hover {
                color: $danger;
            }
        }
    }

    .modal__contents {
        border: 1px solid $component-border;
        border-top: 0;
        border-radius: 0 0 $default-border-radius $default-border-radius;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem;
        min-height: 150px;

        .modal__options {
            display: flex;
            justify-content: space-between;
        }
    }
}
