.pagination {
    list-style: none;
    padding: 0;

    .pagination__item {
        border: 1px solid $component-border;
        border-left: none;
        display: inline-block;
        height: 40px;
        float: left;
        line-height: 40px;
        min-width: 40px;
        text-align: center;

        &:first-child {
            border-left: 1px solid $component-border;
            border-radius: $default-border-radius 0 0 $default-border-radius;
            padding: 0 .5rem;
        }

        &:last-of-type {
            border-radius: 0 $default-border-radius $default-border-radius 0;
            padding: 0 .5rem;
        }

        &.pagination__item--disabled {
            & > a {
                color: $disabled;
                cursor: default;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }


        & > a {
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}
