.table {
    border-spacing: 0;
    border-radius: $default-border-radius;
    table-layout: fixed;
    width: 100%;

    &.table--center-align, .table--center-align {
        th, td {
            text-align: center;
        }
    }

    &.table--right-align, .table--right-align {
        th, td {
            text-align: right;
        }
    }

    &.table--striped {
         tr:nth-child(2n) {
             background: #F1F1F1;
         }
    }

    tr {
        th {
            background: #F1F1F1;
            font-weight: bold;
            text-align: left;
        }

        th, td {
            border: 1px solid $component-border;
            border-bottom: none;
            border-right: none;
            box-sizing: border-box;
            height: 50px;
            padding: .5rem;
            width: fit-content;
            word-wrap: break-word;
        }

        &:first-child {
            th:first-child {
                border-top-left-radius: $default-border-radius;
            }

            th:last-child {
                border-top-right-radius: $default-border-radius;
            }
        }


        &:last-child td {
            border-bottom: 1px solid $component-border;

            &:first-child {
                border-bottom-left-radius: $default-border-radius;
            }

            &:last-child {
                border-bottom-right-radius: $default-border-radius;
            }
        }

        th:last-child, td:last-child, {
            border-right: 1px solid $component-border;
        }
    }

    @each $name, $breakpoint in $breakpoints {
        &.table--stack-#{$name} {
            @include mobile-query(map-get($breakpoints, $name)) {
                tr th:first-child {
                    border-top: 1px solid $component-border;
                    border-radius: $default-border-radius $default-border-radius 0 0;
                }

                tr:last-of-type td {
                    border-radius: 0 0 $default-border-radius $default-border-radius;
                }

                tr:not(:last-of-type) td:last-of-type {
                    border-bottom-color: #888;
                }

                tr th, td {
                    border: 1px solid $component-border;
                    border-top: none;
                    border-radius: 0;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
