.toggle {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;

    .toggle__checkbox {
        height: 0;
        opacity: 0;
        width: 0;
    }

    .toggle__checkbox:checked + .toggle__slider {
        background-color: $primary;
    }

    @each $name, $color in $colors {
        &.#{$name} {
            background: transparent !important;
        }

        &.#{$name} > .toggle__checkbox:checked + .toggle__slider {
            background: $color;
        }
    }

    .toggle__checkbox:checked + .toggle__slider:before {
        transform: translateX(26px);
    }

    &.toggle--square {
        .toggle__slider {
            border-radius: 0 !important;

            &::before {
                border-radius: 0 !important;
            }
        }
    }

    .toggle__slider {
        background-color: #CCC;
        border-radius: 34px;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;

        &::before {
            background-color: $white;
            border-radius: 50%;
            content: "";
            bottom: 4px;
            height: 26px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 26px;
        }
    }
}
