.tooltip {
    position: relative;

    &:hover .tooltip__text {
        visibility: visible;
    }

    .tooltip__text {
        @include center;

        background: rgba($black, .7);
        border-radius: $default-border-radius;
        cursor: default;
        font-size: $tooltip-font-size;
        height: 30px;
        line-height: 30px;
        min-width: 90px;
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: fit-content;

        &::after {
            content: " ";
            margin-left: -7px;
            position: absolute;
        }

        &.tooltip__text--bottom  {
            top: 47px;

            &::after {
                @include triangle(map-get($triangle-directions, up), 7px, rgba($black, .7));
                left: 50%;
                bottom: 100%;
            }
        }


        &.tooltip__text--top  {
            top: -37px;

            &::after {
                @include triangle(map-get($triangle-directions, down), 7px, rgba($black, .7));
                left: 50% !important;
                bottom: calc(-50% + 1px) !important;
            }
        }

        &.tooltip__text--right  {
            top: calc(50% - 15px) !important;
            left: calc(100% + 7px) !important;

            &::after {
                @include triangle(map-get($triangle-directions, left), 7px, rgba($black, .7));
                left: -7px !important;
                bottom: calc(50% - 7px) !important;
            }
        }

        &.tooltip__text--left  {
            top: calc(50% - 15px) !important;
            left: calc(-200% - 7px) !important;

            &::after {
                @include triangle(map-get($triangle-directions, right), 7px, rgba($black, .7));
                left: calc(100% + 7px) !important;
                bottom: calc(50% - 7px) !important;
            }
        }
    }
}
