<div class="progress">
    <div class="progress__bar" style="width: 25%">
        25%
    </div>
    <div class="progress__bar warning" style="width: 10%">
        10%
    </div>
    <div class="progress__bar danger" style="width: 50%">
        50%
    </div>
</div>
