<div class="alert">
    <span class="alert__icon">
        <i class="fas fa-info-circle"></i>
    </span>
    This is a primary dismissible alert with icon
    <span class="alert__dismiss" onclick="(new Alert(this)).dismiss()">
        <i class="fas fa-times"></i>
    </span>
</div>
