<div class="card">
    <div class="card__header card__header--center">
        Card Header
    </div>
    <img class="card__image" src="card_image_placeholder.png" height="150" width="250" alt="...">
    <div class="card__body">
        <span class="card__title">Card Title</span>
        <p>
            This is the contents of the card. Add any information here.
        </p>
        <button class="button">Go Somewhere</button>
    </div>
</div>
